PORT=5000
MONGO_URI=mongodb+srv://sagar:sagar@cluster0.dzhrr.mongodb.net/stockdashboard?retryWrites=true&w=majority&appName=Cluster0
# use custom mogo url is just for testing application it will auto delete after 10 days
